<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Order Details</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">Order Id</div>
            <div class="card-body">
              <span class="badge bg-primary">{{order.id}}</span>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Date</div>
            <div class="card-body">
              <span class="badge bg-success">{{order.date}}</span>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">State</div>
            <div class="card-body">
              <span class="badge bg-danger">{{order.state}}</span>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orderItem of orderItems">
          <td>{{orderItem.product.name}}</td>
          <td>{{orderItem.quantity}}</td>
          <td>{{orderItem.price}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

